@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .focus-state {
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-offset-2;
  }
}

:is(html, body) {
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(23, 23, 23) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.container-rating > div:nth-child(1):is(:hover) > label > svg {
  fill: #facc15;
  stroke: #facc15;
  outline: none;
}

.container-rating:has(> div:nth-child(2):is(:hover))
  > div:nth-child(-n + 2)
  > label
  > svg {
  fill: #facc15;
  stroke: #facc15;
  outline: none;
}

.container-rating:has(> div:nth-child(3):is(:hover))
  > div:nth-child(-n + 3)
  > label
  > svg {
  fill: #facc15;
  stroke: #facc15;
  outline: none;
}

.container-rating:has(> div:nth-child(4):is(:hover))
  > div:nth-child(-n + 4)
  > label
  > svg {
  fill: #facc15;
  stroke: #facc15;
  outline: none;
}

.container-rating:has(> div:nth-child(5):is(:hover))
  > div:nth-child(-n + 5)
  > label
  > svg {
  fill: #facc15;
  stroke: #facc15;
  outline: none;
}
