@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .focus-state {
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-offset-2;
  }
}

@layer base {
  html,
  body {
    @apply h-full;
  }

  html {
    @apply antialiased;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(23, 23, 23) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

html.dark input:-webkit-autofill,
html.dark input:-webkit-autofill:hover,
html.dark input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(245, 245, 245) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.container-rating > div:nth-child(1):is(:hover) svg {
  fill: #facc15;
  stroke: #facc15;
  outline: none;
}

.container-rating:has(> div:nth-child(2):is(:hover))
  > div:nth-child(-n + 2)
  svg {
  fill: #facc15;
  stroke: #facc15;
  outline: none;
}

.container-rating:has(> div:nth-child(3):is(:hover))
  > div:nth-child(-n + 3)
  svg {
  fill: #facc15;
  stroke: #facc15;
  outline: none;
}

.container-rating:has(> div:nth-child(4):is(:hover))
  > div:nth-child(-n + 4)
  svg {
  fill: #facc15;
  stroke: #facc15;
  outline: none;
}

.container-rating:has(> div:nth-child(5):is(:hover))
  > div:nth-child(-n + 5)
  svg {
  fill: #facc15;
  stroke: #facc15;
  outline: none;
}
